@value darkGray from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.header {
  height: 4rem;
  padding: 0.8em 3em;
  box-shadow: 0 4px 4px -4px darkGray;
  display: flex;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
}

.icon {
  margin-right: 0.3em;
}

.button {
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
}

@media screen and (max-width: mediaQuery) {
  .header {
    height: 4rem;
    padding: 0.8em 1em;
  }
  .title {
    font-size: 1.2rem;
  }
}
